<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="col-4 d-flex">
        <div class="icon">
          <i class="bi bi-person-circle"></i>
        </div>
        <div class="col-8 text">
          <p class="mb-0 fw-bold">Gemma Roberson</p>
          <p class="mb-1">Apology for late response email</p>
          <p class="mb-0 fw-bold">Hello Colette Wooten,</p>
        </div>
    </div>
      <div class="col-12 border-top">
        <div class="col-4 d-flex">
          <div class="icon">
            <i class="bi bi-person-circle"></i>
          </div>
          <div class="col-8 text">
            <p class="mb-0 fw-bold">Gemma Roberson</p>
            <p class="mb-1">Apology for late response email</p>
            <p class="mb-0 fw-bold">Hello Colette Wooten,</p>
          </div>
        </div>
        <div class="col-12 border-top">
          <div class="col-4 d-flex">
            <div class="icon">
              <i class="bi bi-person-circle"></i>
            </div>
            <div class="col-8 text">
              <p class="mb-0 fw-bold">Gemma Roberson</p>
              <p class="mb-1">Apology for late response email</p>
              <p class="mb-0 fw-bold">Hello Colette Wooten,</p>
            </div>
          </div>
          <div class="col-12 border-top">
            <div class="col-4 d-flex">
              <div class="icon">
                <i class="bi bi-person-circle"></i>
              </div>
              <div class="col-8 text">
                <p class="mb-0 fw-bold">Gemma Roberson</p>
                <p class="mb-1">Apology for late response email</p>
                <p class="mb-0 fw-bold">Hello Colette Wooten,</p>
              </div>
            </div>
            <div class="col-12 border-top">
              <div class="col-4 d-flex">
                <div class="icon">
                  <i class="bi bi-person-circle"></i>
                </div>
                <div class="col-8 text">
                  <p class="mb-0 fw-bold">Gemma Roberson</p>
                  <p class="mb-1">Apology for late response email</p>
                  <p class="mb-0 fw-bold">Hello Colette Wooten,</p>
                </div>
              </div>





  </div>
</div>
