
.accordion-body a {
  cursor: pointer;
  margin-left: 4rem;
  font-size: 20px;
  text-decoration: none;
  color: black;
}
.accordion-button:not(.collapse) {
  background: #FFFFFF!important;
  color: black!important;
}
.accordion-button:focus {
  box-shadow: inherit!important;
}
.accordion-button::after {
  position: absolute;
}
.accordion-button h2 {
  margin-left: 3rem;
}
.accordion-item {
  background-color: #f8f9fa;
}
